:root{--primary:#747972;
    --bgSecondary:#1D2419;
    --dark:#000;
    --bgp1:#FFD95C;
    }
    body{
        font-family: 'Merriweather', serif;
        font-family: 'Patua One', cursive;
        font-family: 'Questrial', sans-serif;
    }
    .btn-primary{
        background-color: var(--primary);
        border-color: var(--primary);
    }
    .btn-primary:hover{background-color: var(--primary);}
    .navbar{
        min-height: 0px;
    }
    .navbar.btn{
        padding: 525rem 1.25rem;
    }
    .bg-primary{
        background-color: var(--primary) !important;
    }
    .bg-color-p1{
        background-color: var(--bgp1) !important;
    }
    
    .text-primary{
        color: var(--primary) !important;
    }
    
    section{
        height: 650px;
    }
    .content{
        max-width: 75%;
    }
    .list-subject{
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .list-subject::after{
        content: '';
        border-right: 1px solid var(--dark) ;
        height: 60px;
        position: absolute;
        top:35px;
        opacity:.2
    
    }
    .bg-header{
        background-color: var(--bgSecondary);
    }
    .info-content{
        border-radius: 40px;
    }
    .publications img{
        max-height: 600px;
        max-width: 100%;
        border: radius 35px; 
    
    }
    @media (max-width:1376px){
        .container-mobile{
            max-width: 95%;
        }
    }
    
    @media (max-width:992px){
        .navbar{
            position: relative !important;
        }
        section{
            height: unset;
        }
    }
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) * -.5);
        margin-left: calc(var(--bs-gutter-x) * 0);
    }
    .py-4 {
        padding-top: 1.5rem!important;
        padding-bottom: 3.5rem!important;
    }
    
    .py-5 {
        padding-top: 11rem!important;
        padding-bottom: 0rem!important;
    }
    .my-4 {
        margin-top: -1.5rem!important;
        margin-bottom: 1.5rem!important;
    }
    footer{
        text-align:center;
        background-color:rgb(2, 1, 8);
        color:white;
        height:50px;
        padding: 1%;
          } 
  .navbar-collapse {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            -ms-flex-positive: 3;
             flex-grow: 0; 
            -ms-flex-align: center;
            align-items: center;
        }